doctype html
html(lang="en")
	head
		title OrdnaFIKA - Your FIKA Manager
		//link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
		link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cyborg/bootstrap.min.css", rel="stylesheet", integrity="sha384-uSbimwRPo7PKyTL6azsx1CcBce/X9Qg+wX1MAjNV1gAkSXYveZbZeMMyJghdsSol", crossorigin="anonymous")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css", rel='stylesheet', type='text/css')
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+", crossorigin="anonymous")
		link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css', rel='stylesheet', type='text/css')
		link(href='css/main.css', rel='stylesheet', type='text/css')
		link(async href='http://fonts.googleapis.com/css?family=Aclonica', data-generated='http://enjoycss.com', rel='stylesheet', type='text/css')
		link(async href='http://fonts.googleapis.com/css?family=Quattrocento:700', rel='stylesheet', type='text/css')
	body.content-section
		h1.text-center Ordna FIKA By Naresh Mehta
		div.container
			div.row
				h2.text-center Use any of the following authentication mechanisms to sign-up or login.
			div.row
				div.col-md-3
					div.well.well-sm
						a.text-center.btn.btn-block.btn-social.btn-facebook
							i.fa.fa-facebook
							| Sign in with Facebook
				div.col-md-3
					div.well.well-sm
						a.text-center.btn.btn-block.btn-social.btn-google
							i.fa.fa-google
							| Sign in with Google
				div.col-md-3
					div.well.well-sm
						a.text-center.btn.btn-block.btn-social.btn-twitter
							i.fa.fa-twitter
							| Sign in with Twitter
				div.col-md-3
					div.well.well-sm
						a.text-center.btn.btn-block.btn-social.btn-github
							i.fa.fa-github
							| Sign in with Github
		h4.text-center Copyright (c) 2016 - Naresh Mehta 
			a(href='https://www.naresh.se/', target='_blank') https://www.naresh.se/
		script(src="https://cdn.firebase.com/js/client/2.4.1/firebase.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.8/angular2.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/2.0.0-beta.8/router.min.js")
